<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cyclaps.cyclaps">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.cyclaps.cyclaps.LoginActivity"
            android:label="activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".homeScreen"
            android:label="@string/title_activity_home_screen" />
        <activity android:name=".raceScreen"></activity>
        <activity android:name=".setting"
            android:label="setting"/>
        <activity android:name=".username"
            android:label="username"/>
        <activity android:name=".password"
            android:label="password"/>
        <activity android:name=".history"
            android:label="history"/>
        <activity android:name=".collection"
            android:label="collection"/>
        <activity android:name=".leaderboardScreen"
            android:label="@string/navigation_leaderboard"/>
        <activity
            android:name=".RegisterActivity"
            android:label="activity_register"/>
        <activity
            android:name=".GuideActivity"
            android:label="Guide_Activity"/>
    </application>

</manifest>